<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约成功</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover" name="viewport">
</head>
<link href="/assets/plugins/weui/css/weui.min.css" rel="stylesheet">
<body>
<div style="text-align: center">
    <i class="weui-icon-success" style="width: 188px;height: 280px;"></i><br/>
    <span style="font-size: 25px;font-weight: 750">预约成功！</span><br/>
    <span>(<span style="color: red">小提示</span>：转发本活动您将会有小惊喜)</span>
    <br/><br/>
    <div style="color: rgba(25,25,25,.6);">
        <span style="text-align: left">本次预约截止日期为止，我们会安排客服专员对抽中座位用户进行电话核对和公众号通知</span><br/><br/>
        <span>具体请关注【AfterSchool都市学园】</span>
    </div>
</div>
</body>
</html>